RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST}  ([^/]+)\.awohaligroupconsulting\.org.*
RewriteCond %{REQUEST_URI}  ^/([^/]+)$
RewriteRule .*  http://%1.awohaligroupconsulting.org/somepath/%1/%2 [L]